In [1]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    def length(self):
        dx = self.p2.x - self.p1.x
        dy = self.p2.y - self.p1.y
        return math.sqrt(dx**2 + dy**2)  

    def slope(self):
        dx = self.p2.x - self.p1.x
        dy = self.p2.y - self.p1.y

        if dx == 0:
            return None
        return dy / dx

p1 = Point(4, 3)  
p2 = Point()      
s = Segment(p1, p2)

In [2]:
import sqlite3
conn = sqlite3.connect('mid_term.db')  

cursor = conn.cursor()

create_table_query = '''
CREATE TABLE WEATHER_Table (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);
'''

insert_queries = [
    "INSERT INTO Weather_Table VALUES (1, '2015-01-01', 10);",
    "INSERT INTO Weather_Table VALUES (2, '2015-01-02', 25);",
    "INSERT INTO Weather_Table VALUES (3, '2015-01-03', 20);",
    "INSERT INTO Weather_Table VALUES (4, '2015-01-04', 30);"
]



# Execute the SQL queries
cursor.executescript(create_table_query)
for insert_query in insert_queries:
    cursor.execute(insert_query)

In [3]:
def printIDs():
    select_query = '''SELECT t1.id FROM Weather_Table t1 JOIN Weather_Table t2 ON t1.id = t2.id + 1 WHERE t1.temperature > t2.temperature;'''
    cursor.execute(select_query)
    results = cursor.fetchall()
    for row in results:
        print(row)
printIDs()
conn.commit()
conn.close()

(2,)
(4,)

In [4]:
def tough(indentation, stars):
    if stars == 0:
        return        
    else:
        tough(indentation, stars - 1)
        print(' ' * indentation + '*' * stars)
        if stars > 1:
            tough(indentation + stars - 2, stars - 2)